//Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
//Luxi Serif Regular
@font-face {
    font-family: 'luxi_serifregular';
    src: url('assets/fonts/luxi_serif_regular-webfont.woff2') format('woff2'), url('assets/fonts/luxi_serif_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
