footer {
    background: $color-white;
    margin: 3rem 0 0;
    padding: 3rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > div {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        max-width: 57.5rem;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: auto;
        @media (min-width: $from-tiny) {
            grid-template-columns: repeat(3, 1fr);
        }
        > div {
            max-width: 16.875rem;
            width: 100%;
            height: 100%;
            p:first-of-type {
                font-family: $secondary-font;
                font-weight: 500;
                color: $color-gray-3;
                margin-bottom: 1.5rem;
            }
            p {
                font-family: $secondary-font;
                font-weight: 400;
                color: $color-gray-3;
                font-size: 0.875rem;
                line-height: 1.5rem;
            }
            ul {
                li {
                    font-family: $secondary-font;
                    font-weight: 400;
                    color: $color-gray-3;
                    font-size: 0.875rem;
                    line-height: 1.5rem;
                }
            }
        }
    }
    > ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 4rem 0 0;
        width: 100%;
        max-width: 15rem;
    }
}
