.block_title_text {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    margin: 1rem auto;

    @media (min-width: $from-tiny) {
        padding: 3rem 1rem;
    }

    @media (min-width: $from-medium) {
        padding: unset;
        max-width: 45.3rem;
        margin: 5rem auto 2rem;
    }

    h2 {
        font-family: $secondary-font;
        font-size: 2rem;
        line-height: 2.625rem;
        font-weight: 300;
        color: $color-black;
        margin-bottom: 1rem;
        max-width: 90%;

        @media (min-width: $from-small) {
            font-size: 3rem;
            line-height: 3.625rem;
        }
    }

    p {
        font-family: $secondary-font;
        color: $color-gray-3;
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 1.875rem;
    }
}
